@model SqlModel
@{
    ViewBag.Title = "PhonebookView";
}

    <div style="background-color:whitesmoke;margin-top: 0px; width: 100%;">

        <h1 style="margin-top:0px;text-align: center; justify-content:center">Hello, @ViewBag.Userr</h1>

        <div class="row">

            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                <div class="btn-group-lg text-center" style="justify-content:center;text-align: center;">
                    <button class="btn-lg btn-success">@Html.ActionLink("Create Contact","Create","Phone")</button>
                </div>
            </div>

        </div>

        <div>

            <h2>My Phone Numbers:</h2>

            <table class="table table-striped">

                <tr>

                    <th><h3>First Name </h3></th>
                    <th><h3> Last Name</h3> </th>
                    <th><h3> Address</h3></th>
                    <th><h3> City</h3></th>
                    <th><h3> State</h3></th>
                    <th><h3> Zip</h3></th>
                    <th><h3> Phone Number</h3></th>
                </tr>

                <!--Foreach contact in contacts...-->
                @foreach (var contact in Model.GetContacts())
                {
                    <tr>
                        <!--Add actionlink with id parameter for delete/update functions-->
                        <td>@contact.firstName</td>
                        <td>@contact.lastName</td>
                        <td>@contact.address</td>
                        <td>@contact.city</td>
                        <td>@contact.State</td>
                        <td>@contact.zip</td>
                        <td></td>
                        <td><button class="btn btn-info">Edit</button>&nbsp;<button class="btn btn-danger">Delete</button></td>
                    </tr>
                }

            </table>

        </div>
    </div>
