<!DOCTYPE html>
<html>
<style>

</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="bg-info" style="background: linear-gradient(25deg, #ffffff 40%, transparent 41%, transparent 59%, #ffffff 60%)  ,linear-gradient(90deg, transparent 45%, #659b9f 45%, #659b9f 55%, transparent 55%, transparent 20%, #659b9f 20%, #659b9f 30%,transparent 30%) ,linear-gradient(90deg, #659b9f 9%, transparent 10%);
        background-size: 6em 6em;
        background-color: #ffffff;
        opacity: 1; padding: 0px;">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
